* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul.gallery {
  display: flex;
  width: 1440px;
  padding: 24px 156px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
